[Unit]
Description=Read light level from LDR and store result in file

[Service]
Type=oneshot
User=root
# WorkingDirectory=/home/st33v/light/
ExecStart=/usr/local/bin/ldr-counter.py

[Install]
WantedBy=ldr-counter.timer
